.radio-inputs {
    display: flex;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 0.75rem;
    width: 100%;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem 20px;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}

.section {
    margin-top: 50px; /* Adjust as needed */
}

/* Add a smooth scroll transition */
html {
    scroll-behavior: smooth;
}