body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("https://cs.uml.edu/~skandula/images/CAR.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;

}
h1{
    text-align: center;
    color: white;
}
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select, textarea {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
a{
    color: white;
    font-weight: bold;
    font-size: large;
}
